body{
  padding: 0;
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
}

.tableContainer{
  width: 60%;
}

.data-container{
  display: flex;
  flex-direction: row;
}

.form{
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 40%;
  gap: 10px;
}